.resize {
  @include shadow(3);

  position: relative;
  width: 100%;
  margin: double() 0;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &--width {
    padding-right: half();
  }

  &--height {
    padding-bottom: half();
  }

  &.resize--width.resize--height {
    .resize__width {
      height: calc(100% - #{half()});
    }

    .resize__height {
      width: calc(100% - #{half()});
    }
  }

  &__width {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: half();
    height: 100%;
    cursor: ew-resize;
    background-color: color(gray7);
    border-left: 1px solid $border-color;

    &::before {
      display: block;
      width: 6px;
      height: half();
      content: '';
      border-right: 2px solid color(gray5);
      border-left: 2px solid color(gray5);
    }
  }

  &__height {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: half();
    cursor: ns-resize;
    background-color: color(gray7);
    border-top: 1px solid $border-color;

    &::before {
      display: block;
      width: half();
      height: 6px;
      content: '';
      border-top: 2px solid color(gray5);
      border-bottom: 2px solid color(gray5);
    }
  }

  &__both {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: half();
    height: half();
    cursor: nwse-resize;
    background-color: color(gray7);
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;

    &::before {
      display: block;
      width: 6px;
      height: 3px;
      content: '';
      border-right: 2px solid color(gray5);
      border-left: 2px solid color(gray5);
    }
  }

  &__size {
    position: absolute;
    top: quarter();
    right: size(0.75);
    padding: 0 quarter();
    font-size: font-size(small1);
    color: color(gray4);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: $border-radius;
    opacity: 0;
    transition: $transition;

    &.visible {
      opacity: 1;
    }
  }

  &__protective {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .block-embed {
    margin: 0;
  }

  @include media(portrait) {
    .resize__width,
    .resize__height,
    .resize__both {
      display: none;
    }
  }
}
