.alarm {
  @include shadow(3);

  position: relative;
  display: flex;
  align-items: center;
  padding: simple();
  margin: double() 0;
  border-radius: $border-radius;

  p:last-of-type {
    margin-bottom: 0;
  }

  code {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &__icon {
    margin-right: simple();
    font-size: 2.4rem;
  }

  // ul {
  //   list-style: none; /* Remove default bullets */
  // }

  // ul li::before {
  //   content: '\2022';
  //   font-weight: bold;
  //   display: inline-block;
  //   width: 1em;
  //   margin-left: -1em;
  // }

  &--tip {
    color: color(success-darker);
    background-color: color(success-lighter);

    code {
      color: color(success-dark);
    }

    ul li::before {
      background-color: color(success-darker);
    }
  }

  &--note {
    color: color(brand-darker);
    background-color: color(brand-lighter);

    code {
      color: color(brand-dark);
    }

    ul li::before {
      background-color: color(brand-darker);
    }
  }

  &--warn {
    color: color(danger-darker);
    background-color: color(danger-lighter);

    code {
      color: color(danger-dark);
    }

    ul li::before {
      background-color: color(danger-darker);
    }
  }
}
