.codegroup {
  position: relative;

  &::v-deep() {
    .appCode {
      margin-top: 0;
      border-radius: 0 0 $border-radius $border-radius;

      .appCode__filename {
        display: none;
      }
    }

    .CodeMirror {
      padding-top: half() !important;
    }
  }

  &__files {
    @include shadow(3);

    padding-left: half();
    background-color: color(gray7);
    border-bottom: 1px solid $border-color;
    border-radius: $border-radius $border-radius 0 0;
  }

  &__file {
    display: inline-block;
    height: size(1.5);
    padding: 0 quarter();
    font-size: font-size(small1);
    line-height: size(1.5);
    color: color(gray3);
    cursor: pointer;

    &--select {
      font-weight: font-weight(bold);
      color: color(gray1);
      border-bottom: 1px solid color(gray1);
    }
  }
}
