.docsLayout {
  max-width: $desk;
  margin: 0 auto;
  transition: $transition;

  &--sidebar-hidden {
    .docsLayout__sidebar {
      display: none;
    }

    .docsLayout__main {
      padding-left: 10rem;
    }

    &::v-deep() {
      .appHeader__logo {
        box-shadow: none;
      }
    }
  }

  &__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    max-width: $desk;
    height: $header-height;
    margin: 0 auto;
    transition: $transition;
    transform: translate3d(0, 0, 0);
  }

  &__main {
    position: relative;
    width: 100%;
    // height: 100%;
    padding-top: triple();
    padding-right: 10rem;
    padding-bottom: simple();
    padding-left: $sidebar-width;
    // overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
  }

  &__sidebar {
    position: fixed;
    z-index: 800;
    width: $sidebar-width;
    height: 100%;
    padding-top: $header-height;
    transition: $transition;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      width: 50vw;
      height: 100%;
      content: '';
    }
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: $transition;
  }

  &__wrapper {
    width: 100%;
    max-width: $wrapper-width;
    padding: double() simple();
    margin: 0 auto;
  }

  /**
   * Menú para dispositivos
   */
  &__device-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: quadruple() 0 simple();
    overflow-x: hidden;
    overflow-y: scroll;

    &::v-deep() {
      .appMenu {
        padding-bottom: simple();
        border-bottom: 1px solid color(gray5);
      }

      .sidebar {
        border-bottom: 1px solid color(gray5);
      }

      .sidebar__wrapper {
        height: auto;
        padding: simple() 0;
        overflow-y: initial;
      }

      .sidebar__list a,
      .sidebar__list .menu,
      .appMenu__item a,
      .dropdown__header a,
      .dropdown__item--link {
        display: block;
        padding: 0.3rem simple() !important;
        font-size: font-size(base);
      }

      .sidebar__title {
        margin-bottom: quarter();
        font-size: font-size(base);
      }

      .appSocialLinks {
        justify-content: center;
        margin-top: simple();

        .appSocialLinks__item {
          width: double();
          height: double();
          transform: scale(1.3);
        }
      }
    }
  }
}

@include media(large) {
  .docsLayout {
    &__main {
      padding-left: $sidebar-width-large;
    }

    &__sidebar {
      width: $sidebar-width-large;
    }
  }
}

@include media(screen) {
  .docsLayout {
    &__wrapper {
      max-width: $wrapper-width-large;
    }
  }
}

@include media(touch) {
  .docsLayout {
    &__sidebar {
      width: $sidebar-width-touch;
    }

    &__main {
      padding-right: 0 !important;
      padding-left: $sidebar-width-touch !important;
    }

    &::v-deep() {
      .scrollTracking {
        display: none;
      }
    }
  }
}

@include media(portrait) {
  .docsLayout {
    &__header {
      height: $header-height-media;
    }

    &__sidebar {
      display: none;
    }

    &__main {
      padding-left: 0 !important;
    }

    &__content {
      display: block;
      margin-left: 0;
    }

    &__wrapper {
      padding: 0 simple();
    }

    &--device-menu-visible {
      .docsLayout__header {
        background-color: color(gray7);
        box-shadow: 0 2px 3px color(gray7);
      }
    }
  }
}

@include media(palm) {
  .docsLayout__header.hideOnScroll {
    transform: translate3d(0, -100%, 0);
  }
}
