// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100..600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

$font-family-base: 'Saira', courier, helvetica neue, arial, sans-serif;
$font-family-heading: 'kadwa', courier, helvetica neue, arial, sans-serif;
$font-family-monospace: 'Fira Code', 'Courier New', courier, monospace;

//
// Tamaños de fuente por tamaño de pantalla en px
//
$root-font-size-palm: 16px;
$root-font-size-lap: 16px;
$root-font-size-small: 17px;
$root-font-size-desk: 17px;
$root-font-size-large: 18px;

//
// Pesos tipográficos
//
$font-weight-normal: 400;
$font-weight-bold: 500;

//
// Peso tipográfico de las cabeceras
//
$font-weight-heading: 400;

//
// Altura de linea
//
$line-height: 1.7;

//
// Escala modular
//
$modular-scale: 1.15;

$desk: 1700px;

$sidebar-width-touch: 240px;
$sidebar-width: 300px;
$sidebar-width-large: 300px;

$header-height: triple();
$header-height-media: double();
$wrapper-width-large: 700px;
$wrapper-width: 670px;

$transition: 0.5s cubic-bezier(0.91, 0.06, 0.47, 1.05) all;

$menu-font-size: 0.889rem;
