.kbd {
  display: inline-block;
  min-width: simple();
  height: simple();
  padding: 0 quarter();
  margin: 0 0.1rem;
  font-size: font-size(small1);
  line-height: simple();
  color: color(gray2);
  text-align: center;
  background-color: color(gray7);
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &__slot {
    display: none;
  }
}
